
.main-image {
	background-image: url("../../../public/png/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	border-radius: 0px 0px 32px 32px; 
	opacity: 0.9;	

	z-index: -2;
}

.top-image {
	background-image: url("../../../public/png/cover--money.png");
	background-repeat: no-repeat;
	background-size: contain;

	position: absolute;
	bottom: 25%;
	left: 5%;
	width: 90%;
	aspect-ratio: 1 / 1; 
	opacity: 0.9;	
	
	z-index: -1;
}

.hello__block {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 30%;
	gap: 20px;
	color: rgb(255, 255, 254);
}

.hello__title {
	font-size: 42px;
}

.hello__text {
	font-size: 20px;
}

