.column--1 {
	display: flex;
	flex-direction: column;
	gap: 1px;
}
.column--8 {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.column--12 {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.column--16 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.column--20 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.column--32 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.column--grid {
	display: grid;
}

.grid--main {
	grid-template-rows: 650px 120px;
}

.grid--heading {
	grid-template-rows: repeat(3, 1fr);
	gap: 12px;
}