.input-container {
	position: relative;
  }

.input {
	border: 1px solid rgb(145, 144, 142);
	background-color: rgb(255, 255, 254);
	padding: 16px;
	border-radius: 12px;
	width: 100%;
}

.message {
	font-weight: 500;
}

.disabled {
	cursor: not-allowed;
	background-color: rgb(255, 254, 252);
}

.active {
	border-color: rgb(104, 81, 194);
	color: rgb(28, 13, 0);
}

.appear {
	width: 24px;
	height: 24px;
	background-image: url("../../../public/svg/icon-appear.svg");
	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	top: 16px;
  	right: 16px;
}

.disappear {
	width: 24px;
	height: 24px;
	background-image: url("../../../public/svg/icon-disappear.svg");
	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	top: 16px;
  	right: 16px;
}
